.div1 {
	width: 1110px;
	margin: auto;
}

.textarea-div {
	width: 1110px;
	margin: auto; 
}

.table1 {
	margin-top: 10px;
	width: 1110px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

tbody td {
	height: 30px;
	text-align: center;
	vertical-align: middle;
}

thead tr{
	background-color: #001a8d;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

tbody tr:hover {
    background-color: rgba(196, 29, 29, 0.3);
}